{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
        {% comment %}

            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
        {% endcomment %}
        <div class='panel panel-info'>
            <h4>本网站的内容均为教学示范之用，请勿下单购买。作者网站：<a href='http://hophd.com'>http://hophd.com</a></h4>
        </div>
    {% endblock %}
</footer>